Source: default-settings-pulseaudio
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: default-settings-pulseaudio
Architecture: all
Replaces: netrunner-system (<< 1.1.4)
Breaks: netrunner-system (<< 1.1.4)
Description: Default pulseaudio settings
  This package provides the default pulseaudio settings for Maui/Netrunner.
